@import url("https://fonts.googleapis.com/css?family=Overpass|Passion+One");
/*
font-family: 'Overpass', sans-serif;
  font-family: 'Passion One', cursive;

*/

body {
  margin: 0 5px 0 5px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-button {
  height: 50px;
}
.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-wrap: wrap;
  /* padding: 10px; */
}
.home-card {
  height: 300px;
  width: 200px;
}
.detail-page{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;

}
.track-page{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

}
.product-container img{
border-radius: 25px;
}
.product-container {
  /* display: flex;
  justify-content: center;
  padding: 10px; */
  display: flex;
  flex-direction: row;
align-items: center;
  justify-content: center;
  padding: 10px;
}

.product-card {
  margin: 10px;
  height: 300px;
  width: 450px;
  font-size: 120%;
  border-radius: 25px;
  border: 1px solid black;
  font-family: "Overpass", sans-serif;
  padding: 5px;
  
}

.profile-card h5{
font-size: 150%;
opacity: 0;
}

.profile-page{
  margin: 0 25px 40px 25px;
}
.profile-container {

  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* padding: 10px; */
}
.profile-card:hover{
  opacity: 0.3;
  /* box-sizing: inherit; */
  background-size: 60%;


}

.profile-card2 {
  border-radius: 25px;  
  height:420px;
  width: 250px;
  border: 1px solid black;
  padding: 5px;
}

.profile-card {
  border-radius: 25px;  
  height:280px;
  width: 250px;
  border: 1px solid black;
  padding: 5px;
  margin: 0 10px 5px 0;

}
.user-container{
  font-family: "Overpass", sans-serif;

}
.detail-type {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.detail-pickup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.login-container {
  /* background-image: url("https://res.cloudinary.com/dpt8pbi8n/image/upload/v1551981106/giphypizzaa.gif"); */
  height: 100vh;
  font-family: "Overpass", sans-serif;
  font-size: 140%;
}
.login-card {
  display: flex;
  flex-direction: column;
}
.signup-input {
  width: 25%;
  align-self: center;
  margin: 2.5px;
}
@media (max-width: 600px) {
  .signup-input {
    width: 50%;
  }
}
.login-card > input {
  padding-top: 5px;
}
.icons {
  margin-left: 5px;
}
.app-container {
  margin: 0;
  padding: 0;
}
.navbar-1 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Passion One", cursive;
  font-size: 200%;
  padding: 0 10px 0 10px;
}
.navbar-2 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Passion One", cursive;
  font-size: 180%;
  padding: 0 10px 0 10px;
}
@media (max-width: 600px){
  .navbar-2 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Passion One", cursive;
    font-size: 130%;
    padding: 0 10px 0 10px;

  }
  .navbar-2 img{
    transform: scale(0.6)

  }
  
}
.logout-press:hover {
  color: red;
}
.icon-pizza{
  position: absolute;
  /* align-self: center; */
  top: 230px;
  left: 580px;
  
}
.home{
  height: 80vh;
}
.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.home-available {
  display: flex;
  flex-direction: column;
  border: 1px dashed lightblue;
  height: 300px;
  width: 300px;
  padding: 5px;
  margin: 0 10px 10px 0;
}
.home-plate {
  color: black;
  font-family: "Overpass", sans-serif;
}
.home-plate:hover{
  opacity: .4;
}
.home > h1 {
  font-family: "Passion One", cursive;
  font-size: 300%;
}
.example-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
  height: 320px;
  font-family: "Overpass", sans-serif;

}
.example-input >h2{
  font-size: 200%;
}
.product-form-container{
  display: flex;
  justify-content: center;
  height: 80vh;
}
.button-order{
  position: absolute;
  top: 65%;
  left: 46%;
}
@media (max-width: 600px) {
  .product-form-container{
    font-size: 90%;
    transform: scale(0.8);
    display: flex;
    justify-content: center;
    height: 80vh;
  }
  .button-order{
    position: absolute;
    top: 80%;
    left: 35%;

  }
}

.image-page{
  display: flex;
  justify-content: center;
}
.image-container{
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 300px;
  margin: 5px;
}

 .index-container{
  margin: 5px 20px 0 20px; 
  background-color: #eee9e9;
  /* width: 100%; */
  /* display: flex; */
  /* justify-content: center; */
} 
.carousel{
  width: 100%;
  height: 82vh;

}
.section2-container{
  margin: 10px 0 0 0;
  font-family: "Overpass", sans-serif;

}
.section-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: space-around;
  
}
@media (max-width: 600px){
  .section-2{
    width: 100%;
    transform: scale(0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: baseline; */
    /* align-content: space-around; */
    
  }
  .section-2 img{
    display: none;
  

  }
  .section2-container{
    margin: 10px 0 0 0;
    font-family: "Overpass", sans-serif;
  }
  .carousel{
    width: 100%;
    height: 40vh;
}
.section3-container img{
  transform: scale(0.7);
}
}
.icons-child{
  height: 20vh;
  width: 35vw;
}
.section3-container{
  font-family: "Overpass", sans-serif;

  margin: 20px 0 20px 0;
}
.become-chef:hover{
  opacity: 0.2;
}
.app{
  margin: 0 25px 0 25px;
}
.footer{
  font-family: "Overpass", sans-serif;
  margin: 5px 0 5px 0;
  height: 28vh;
  width: 100%;
  background-color: gray;
  display: flex;

  justify-content: center;
  /* align-content: center; */
  flex-direction: column;
  
  /* bottom: 1px; */
}

@media (max-width: 600px) {
  .footer{
    display: none;
  }
}
.mapbox-container{
  display: flex;
  flex-direction: row;
}
.mapbox-container button{
  height: 80px;
  font-size: 130%;
  align-self: center;
  margin-left: 100px;
}
.user-container{
  height: 95vh;
}
/* .user-card{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
} */
.mapbox-container{
height: 70vh;
}
.mapbox-directions-component-keyline>button{
  display: none;
}
.going-card{
  display: flex;
  flex-direction: column;
  justify-items: baseline;
  width: 350px;
}
.button-arrived{
  height: 100px;
  width: 200px;
  padding: 0;
  margin: 0;
  transform: scale(0.8);
}
.home-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar{
  width: 500px;
  margin-bottom: 25px;
  text-align: center;
}
.progress{
  align-self: center;

}
.add-address{
  height: 70vh;
  font-size: 300%;
}
.user-pagina{
  height: 90vh;
}
.user-perfil{
  /* transform: scale(1.3); */
  font-size: 130%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  max-width: 100vw;

}
.user-perfil-chef{
  font-size: 130%;
  /* transform: scale(1.2); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  max-width: 100vw;
}
.button-current{
  transform: scale(1.2);
  width: 50vw;
  padding: 2px;
  margin: 10px 0 20px 0;
}
.button-current:hover{
  opacity: 0.6;
}
.p-only{
  color: red;
  font-size: 140%;
}